@font-face{
font-family: Shanti;
src: url(fonts/Shanti/Shanti-Regular.ttf);
}

@font-face{
font-family: "Libre Franklin";
src: url(fonts/Libre_Franklin/LibreFranklin-Regular.ttf);
}

body {
background-color: #201C26;
color: #2A1014;
overflow: hidden;
font-family: Shanti, Helvetica, sans-serif;
margin: auto;
}

.photoscroll {
background-image: url('images/smilodon_illustration.png');
height: 200px;
background-repeat: repeat;
background-size: auto 100%;
margin-bottom: 40px;
-webkit-animation: bannermove 30s linear infinite;
-moz-animation: bannermove 30s linear infinite;
-ms-animation: bannermove 30s linear infinite;
-o-animation: bannermove 30s linear infinite;
animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}

#wrapper {
margin: auto;
width: 90%;
display: flex;
flex-direction: column;
}

#navbar {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #752E23;
border-radius: 15px 15px 0 0;
font-family: "Libre Franklin", Gadget, sans-serif;
font-weight: 900;
width: 100%;
}

#navbar a {
float: left;
display: block;
color: #E4C784;
text-align: center;
padding: 14px;
text-decoration: none;
}

#navbar a:hover {
background-color: #A1995B;
color: #201C26;
}

#navbar a:hover img {
filter: invert(100%) brightness(10%);
}

#navbar a:active {
color: #E4C784;
}

main {
background-color: #E4C784;
width: 100%;
}

main div {
padding-left: 7%;
}

h1 {
color: #752E23;
font-family: "Libre Franklin", Gadget, sans-serif;
}

h2 {
color: #828042;
font-family: "Libre Franklin", Gadget, sans-serif;\
}

header {
text-align: center;
}

footer {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #752E23;
border-radius: 0 0 15px 15px;
font-family: "Libre Franklin", Gadget, sans-serif;
font-weight: 900;
width: 100%;
}

footer a {
float: left;
display: block;
color: #E4C784;
text-align: center;
padding: 14px;
text-decoration: none;
}

footer a:hover {
background-color: #A1995B;
color: #201C26;
}

footer a:hover img {
filter: invert(100%) brightness(10%);
}

footer a:active {
color: #E4C784;
}