@font-face{
font-family: Shanti;
src: url(fonts/Shanti/Shanti-Regular.ttf);
}

@font-face{
font-family: "Libre Franklin";
src: url(fonts/Libre_Franklin/LibreFranklin-Regular.ttf);
}

body {
background-color: #201C26;
color: #2A1014;
overflow: hidden;
font-family: Shanti, Helvetica, sans-serif;
margin: auto;
}

.photoscroll {
background-image: url('images/smilo-banner.png');
height: 20vh;
background-repeat: repeat;
background-size: auto 100%;
margin-bottom: 1%;
margin-top: 1%;
-webkit-animation: bannermove 20s linear infinite;
-moz-animation: bannermove 20s linear infinite;
-ms-animation: bannermove 20s linear infinite;
-o-animation: bannermove 20s linear infinite;
animation: bannermove 20s linear infinite;
border-top: solid;
border-bottom: solid;
border-color: #2A1014;
border-width: 15px;
}
 
@keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}

#wrapper {
margin: auto;
margin-top: 20px;
width: 90%;
display: flex;
flex-direction: column;
}

#navbar {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #752E23;
border-radius: 15px 15px 0 0;
font-family: "Libre Franklin", Gadget, sans-serif;
font-weight: 900;
width: 100%;
}

#navbar a {
display: flex;
font-size: 120%;
float: left;
display: block;
color: #E4C784;
padding: 14px;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}

#navbar a img {
padding-right: 10px;
height: 30px;
}

#navbar a:hover {
background-color: #A1995B;
color: #201C26;
}

#navbar a:hover img {
filter: invert(100%) brightness(10%);
}

#navbar a:active {
color: #E4C784;
}

main {
background-color: #E4C784;
width: 100%;
}

main div {
padding-left: 7%;
}

h1 {
color: #752E23;
font-family: "Libre Franklin", Gadget, sans-serif;
text-align: center;
}

h2 {
color: #828042;
font-family: "Libre Franklin", Gadget, sans-serif;\
}

header {
display: flex;
justify-content: center;
}

header a {
margin: auto;
text-decoration: none;
}

header img {
display: flex;
justify-content: center;
margin: auto;
padding: 10px 30px 10px;
background-color: #2A1014;
width: 20vw;
height: auto;
border-style: solid;
border-radius: 15px;
border-color: #752E23;
border-width: 10px;
color: #E4C784;
}

footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #752E23;
border-radius: 0 0 15px 15px;
font-weight: 900;
font-size: 70%;
width: 100%;
color: #E4C784;
text-align: center;
padding-top: 14px;
text-decoration: none;
font-style: italic;
}

footer a {
float: left;
display: block;
color: #E4C784;
text-align: center;
padding: 14px;
text-decoration: none;
}

footer a:hover {
color: #A1995B;
}

footer a:hover img {
filter: invert(100%) brightness(10%);
}

footer a:active {
color: #E4C784;
}

a {
color: #828042;
}

a:hover {
color: #931B25;
}

a:active {
color: #A1995B;
}

@media only screen and (orientation: landscape) {
#wrapper {
width: 65%;
}

.photoscroll {

height: 15vh;
background-repeat: repeat;
background-size: auto 100%;
margin-bottom: 1%;
margin-top: 1%;
-webkit-animation: bannermove 30s linear infinite;
-moz-animation: bannermove 30s linear infinite;
-ms-animation: bannermove 30s linear infinite;
-o-animation: bannermove 30s linear infinite;
animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}

header img {
width: 5vw;
height: auto;
}

}