@font-face{
font-family: Shanti;
src: url(fonts/Shanti/Shanti-Regular.ttf);
}

@font-face{
font-family: "Libre Franklin";
src: url(fonts/Libre_Franklin/LibreFranklin-Regular.ttf);
}

body {
background-color: #201C26;
color: #2A1014;
font-family: Shanti, Helvetica, sans-serif;
margin: auto;
}

.photoscroll {
background-image: url('images/smilo-banner.png');
height: 30vw;
background-repeat: repeat;
background-size: auto 100%;
-webkit-animation: bannermove 60s linear infinite;
-moz-animation: bannermove 60s linear infinite;
-ms-animation: bannermove 60s linear infinite;
-o-animation: bannermove 60s linear infinite;
animation: bannermove 60s linear infinite;
border-top: solid;
border-bottom: solid;
border-color: #2A1014;
border-width: 3vw;
}
 
@keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}

#wrapper {
margin: auto;
width: 100%;
display: flex;
flex-direction: column;
}

#navbar {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #752E23;
font-family: "Libre Franklin", Gadget, sans-serif;
font-weight: 900;
width: 100%;
}

#navbar a {
display: flex;
font-size: 3.8vw;
float: left;
display: block;
color: #E4C784;
padding: 2vw;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}

#navbar a img {
padding-right: 1.5vw;
height: 5vw;
}

#navbar a:hover {
background-color: #A1995B;
color: #201C26;
}

#navbar a:hover img {
filter: invert(100%) brightness(10%);
}

#navbar a:active {
color: #E4C784;
}

main {
background-color: #E4C784;
width: 100%;
}

main div {
padding-left: 3%;
padding-right: 7%;
}

main div img {
margin: auto;
width: 100%;
height: auto;
border: solid;
border-color: #2A1014;
border-width: 0.6em;
border-radius: 0.2em 1.1em 0.2em 1.1em;
}

h1 {
color: #752E23;
font-family: "Libre Franklin", Gadget, sans-serif;
text-align: center;
}

h2 {
color: #828042;
font-family: "Libre Franklin", Gadget, sans-serif;\
}

header {
display: flex;
justify-content: center;
}

header a {
margin: auto;
text-decoration: none;
}

header img {
display: flex;
justify-content: center;
margin: auto;
padding: 0.9em 2em 0.9em;
background-color: #2A1014;
width: 20vw;
height: auto;
border-style: solid;
border-radius: 1.1em;
border-color: #752E23;
border-width: 0.9em;
color: #E4C784;
}

footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
background-color: #752E23;
font-weight: 900;
font-size: 1.6vw;
width: 100%;
color: #E4C784;
text-align: center;
padding-top: 2em;
text-decoration: none;
font-style: italic;
}

footer a {
float: left;
display: block;
color: #E4C784;
text-align: center;
padding: 0.95em;
text-decoration: none;
}

footer a:hover {
color: #A1995B;
}

footer a:hover img {
filter: invert(100%) brightness(10%);
}

footer a:active {
color: #E4C784;
}

#footimg {
width: 20vw;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
margin-top: 2em;
}

a {
color: #828042;
}

a:hover {
color: #931B25;
}

a:active {
color: #A1995B;
}

#desc {
font-size: 0.7em;
}

#desc a {
color: #2A1014;
text-decoration: none;
}

#desc a:hover {
color: #931B25;
}

iframe {
width: 100%;
height: 50vw;
border: solid;
border-color: #2A1014;
border-width: 0.6em;
border-radius: 0.2em 1.1em 0.2em 1.1em;
}

@media only screen and (orientation: landscape) {
#wrapper {
width: 65%;
margin-bottom: 3em;
margin-top: 1em;
}

#navbar {
border-radius: 15px 15px 0 0;
}

.photoscroll {
border-width: 20px;
height: 15vh;
background-repeat: repeat;
background-size: auto 100%;
margin-bottom: 1%;
margin-top: 1%;
-webkit-animation: bannermove 30s linear infinite;
-moz-animation: bannermove 30s linear infinite;
-ms-animation: bannermove 30s linear infinite;
-o-animation: bannermove 30s linear infinite;
animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
    background-position: 0;
 }
 100% {
    background-position: 100%;
 }
 
}

header img {
width: 5vw;
height: auto;
}

iframe {
height: 20vw;
}

.container {
display: grid;
grid-template-rows: auto;
grid-template-columns: auto;
grid-row-gap: 30px;
}

.grid0101 {
grid-row: 1 / 2;
grid-column: 1 / 2;
}

.grid0102 {
grid-row: 2 / 4;
grid-column: 1 / 2;
}

.grid0104 {
grid-row: 4 / 5;
grid-column: 1 / 2;
}

.grid0105 {
grid-row: 5 / 6;
grid-column: 1 / 2;
}

.grid0106 {
grid-row: 6 / 7;
grid-column: 1 / 2;
}

.grid0201 {
grid-row: 1 / 2;
grid-column: 2 / 3;
}

.grid0202 {
grid-row: 2 / 3;
grid-column: 2 / 3;
}

.grid0203 {
grid-row: 3 / 4;
grid-column: 2 / 3;
}

.grid0204 {
grid-row: 4 / 6;
grid-column: 2 / 3;
padding-top: 52px;
}

h1 {
padding-bottom: 8px;
border-bottom: solid;
border-width: 8px;
border-color: #752E23;
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
margin-top: 20px;
}

#footimg {
margin-bottom: 20px;
margin-top: 50px;
}

footer {
border-radius: 0 0 15px 15px;
}

header img {
padding: 0.8em 1em 0.8em;
width: 8em;
height: auto;
border-style: solid;
border-radius: 1.1em;
border-color: #752E23;
border-width: 0.5em;
color: #E4C784;
}

}